/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    background-color: #f8f8f8
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
